<header>
			<div id="logo">
				<h1>
					<img src="images/logo.png" alt="Mind On Cloud">
				</h1>
			</div>
			<div id='content-nav'>
				<div class='inline'  id='share'>
					
					<div id="fb"  class='inline'>

					<iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmindoncloud.com.mx%2F&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=221202171329748" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:21px;" allowTransparency="true"></iframe>
				</div>

				<div id="plus"  class='inline'>

					<div class="g-plusone" data-size="medium" data-href="http://mindoncloud.com.mx/"></div>
	

				</div>
				</div>
				<div class='inline' id='redes'>
				
						<span class='icon-facebook inline'></span>
						<span class='icon-twitter inline' ></span>
					 	<span class='icon-google-plus inline'></span>
				</div>

				<nav>
					<SELECT id='menuInterno' >
						<option value=''>
							<span  class='icon-home'></span>
							Mind On Cloud
						</option>
						<option value=''>
							<span  class='icon-home'></span>
							Inicio
						</option>
						 <option value='Soluciones/'>
						 	Soluciones
		               	</option>
		               <option value='Portafolio/'>
			               	Portafolio
		               </option>
		               <option value='Servicios/'>
			               	Articulos
		               </option>
		               <option id='contact/'>
			             
				               		Contacto
				          
			               
		               </option>
							
					</SELECT>
					 <div class="nav-bar">
				        <div class="nav-bar-inner">
				 			
				            <span class="element"> 
				            	<span class='icon-home'></span>
				            	<a href="" style='color:white'>
				               		Mind On Cloud
				               	</a>
				            	
				            </span>
				 
				            <span class="divider"></span>
				 
				            <ul class="menu">
				               <li>
				               		<a href="Soluciones/">
				               			Soluciones
				               		</a>
				               	</li>
				               <li>
					               	<a href="Portafolio/">
					               			Portafolio
					               	</a>
				               	
				               </li>
				               <li>
				               		<a href="Articulos/">
					               			Articulos
					               	</a>
				               	
				               </li>
				               <li id='contact'>
					             
						               		Contacto
						          
					               
				               </li>
				            </ul>
				  
				            	
								
				          
				        </div>
				    </div>
				</nav>
			</div>
			
		</header>