
<section class="page secondary">
    <section class="page-header">
        <div class="page-header-content">
            <h1>Soluciones<small></small></h1>
            <a href="" class="back-button big page-back"></a>
        </div>
    </section>
    <section class="page snapped">
        <figure  class='image-container bg-color-teal' id='imagen'>
        	<img src="images/desarrollo.jpg">
        </figure>

    </section>
    <section class="page fill" id='content'>
    	<article>
    		<p class="lado">En Mind On Cloud desarrollamos aplicaciones web a la medida de las necesidades o proyectos de nuestros clientes, procurando siempre cubrir todas sus necesidades.<br><br>La infinita Gama de posibilidades en Internet, permiten que el mercado para este tipo de aplicaciones web novedosas pueda ser un éxito total. Haciendo uso de las más nuevas herramientas, desarrollamos y nos adaptamos de acuerdo a tus necesidades y posibilidades, sitios web dinámicos y estáticos con potencial para adaptarse a los nuevos dispositivos en uso (tabletas electroicas, smartphones, etc.), asegurando que cada proyecto tenga el impacto deseado.</p>
    	</article>
        
    </section>
    <SECTION class='contentText inline' >
         <h2>Paquete Diseño Web Estándar</h2>
        <article>
           Rápido y Económico Diseño y Desarrollo Web personalizado, con el respaldo y la experiencia de cientos de clientes satisfechos y las mejores prácticas de Administración de Proyectos Web. 
           Sin plantillas totalmente personalizado, granatizando 100% su satisfaccion.  
        </article>
        
     </SECTION>
     <figure class='lateral inline'>
         <img src="images/plantillas.jpg">
     </figure>

     <SECTION class='contentText inline'>
         <h2>Desarrollo de Aplicaciones web En Mind On Cloud </h2>
        <article>
           Desarrollamos aplicaciones web a la medida de las necesidades o proyectos de nuestros clientes. Si eres un emprendedor con una Super Idea y tienes la iniciativa para iniciarle, nosotros queremos ser tus socios comerciales en tu proyecto!  
        </article>
        
     </SECTION>
     <figure class='lateral inline'>
         <img src="images/l1.png">
     </figure>

     <SECTION class='contentText inline' >
         <h2>Desarrollo de Tiendas virtuales</h2>
        <article>
            Conozca como vender por internet con su Tienda en Línea 
            En Mind On Cloud diseñamos sitios web para comercio electrónico a la medida, de excelente diseño y de fácil administración. Con nuestra completa plataforma de comercio electrónico actualice productos, cambie precios, fotos e información sin necesidad de contactar a un webmaster.  
        </article>
        
     </SECTION>
     <figure class='lateral inline'>
         <img src="images/tienda.jpg">
     </figure>
</section>

