@import 'modern.css';
@import 'style2.css';
body{font-size:16px}
.padding{padding:.5em}
#content-principal{max-width:950px;margin:auto;overflow:hidden;margin-top:2em;margin-bottom:2em}
#formulario{width:100%;}
#formulario input{display:block;width:100%;margin-bottom:.5em;padding:5px}
#dialogButtons{display:none}
#menuInterno{display:none}
header{width:100%;overflow:hidden;}
header #logo{width:200px;display:inline-block;vertical-align:bottom;}
header #logo img{width:100%}
header #content-nav{display:inline-block;vertical-align:bottom;width:76%;margin-left:10px;margin-bottom:1em;}
header #content-nav nav{width:102%;background-color:#5f77a6;color:#fff;font-size:16px;padding-top:.3em;padding-bottom:.3em;}
header #content-nav nav ul{list-style:none;margin:0;padding:0;}
header #content-nav nav ul li{display:inline-block;width:18.5%;text-align:center;padding:5px;cursor:pointer}
header #content-nav nav .menu,header #content-nav nav .nav-bar-inner{background-color:#5f77a6}
header #content-nav nav .menu{font-size:16px}
header #content-nav #redes{width:20%;font-size:1.5em;color:#000;padding-left:.25em;text-align:right;margin-bottom:.35em}
header #content-nav #share{width:79.2%;text-align:right;}
header #content-nav #share #fb,header #content-nav #share #plus{width:49%;text-align:left}
.nospace{margin-right:0}
.inline{display:inline-block;vertical-align:middle}
footer{padding:5px}
@media screen and (max-width: 955px){#content-principal{max-width:800px;}
#content-principal header #content-nav{width:73%;}
#content-principal header #content-nav nav ul li{width:17%}
#content-principal header #share{width:77%}
#content-principal header #redes{width:22%}
}@media screen and (max-width: 830px){#content-principal{max-width:400px;padding-right:1em;padding-left:1em;}
#content-principal header,#content-principal #logo{display:block;width:100%;text-align:center;}
#content-principal header img,#content-principal #logo img{width:70%}
#content-principal #content-nav{display:block;width:100%;margin:0;margin-bottom:1em;}
#content-principal #content-nav nav{width:137%;border:solid 1px;padding:10px;}
#content-principal #content-nav nav .nav-bar{display:none}
#content-principal #content-nav #menuInterno{display:block;width:100%;background-color:#5f77a6;border:none;font-size:18px;color:#fff;font-family:'Segoe UI Semilight','Open Sans',Verdana,Arial,Helvetica,sans-serif;overflow:hidden;border:none;outline:0}
.metrouicss .page.secondary .page-header .page-header-content h1,.metrouicss .page.secondary .page-header .page-header-content h2,.metrouicss .page.secondary .page-header .page-header-content h3,.metrouicss .page.secondary .page-header .page-header-content h4,.metrouicss .page.secondary .page-header .page-header-content h5{left:90px}
#redes,#share{display:none}
}