@import 'modern.css'
@import 'style2.css'
@import 'style.styl'


a
	color white

#contentText
	margin-left 20px

.metrouicss .image-container 
	width 100%
	height auto
	padding 5px
	img
.metrouicss
	font-size 16px
	.page.fill
		border none
		width 63.66%
	.page.snapped
		border none
.contentText
		width 75%
		margin-bottom 2em
.lateral
	width 24%
	overflow hidden
	text-align right
	img
		width 100%
@media screen and (max-width: 830px)
	.metrouicss 
		.page.snapped, .page.fill,.lateral,.contentText
			display block
			width 100%
	
			margin-bottom 1em
		.page-header-content
			h1
				font-size 32px
		

		
