
bg=#5f77a6
body
	font-size 16px
.padding
	padding 0.5em
#content-principal
	max-width 950px
	margin auto
	overflow hidden
	margin-top 2em
	margin-bottom  2em
#formulario
	width 100%
	input
		display block
		width 100%
		margin-bottom 0.5em
		padding 5px
#dialogButtons
	display none
#menuInterno
	display none
header
	width 100%
	overflow hidden
	#logo 
		width 200px
		display inline-block
		vertical-align bottom
		img
			width 100%
	#content-nav
		display inline-block
		vertical-align bottom
		width 76%
		margin-left 10px
		margin-bottom 1em
		nav
			width 102%
			background-color #5f77a6
			color white
			font-size 16px
			padding-top 0.3em
			padding-bottom 0.3em
			ul
				list-style none
				margin 0
				padding  0
				li
					display inline-block
					width 18.5%
					text-align center
					padding 5px
					cursor pointer
			.menu,.nav-bar-inner
				background-color bg
			.menu
				font-size 16px
		#redes
			width 20%
			font-size 1.5em
			color black
			padding-left 0.25em
			text-align right
			margin-bottom 0.35em
		#share
			width 79.2%
			text-align right
			#fb,#plus
				width 49%
				text-align left
.nospace
	margin-right 0
.inline
	display inline-block
	vertical-align middle


footer
	padding 5px

@media screen and (max-width: 955px)
	#content-principal
		max-width 800px
		header
			#content-nav
				width 73%
				nav
					ul 
						li
							width 17%
			#share
				width 77%
			#redes 
				width 22%

@media screen and (max-width: 830px)

	#content-principal
		max-width 400px
		padding-right 1em
		padding-left 1em
		header
		#logo 
			display  block
			width 100%
			text-align center
			img
				width 70%
		#content-nav
			display  block
			width 100%
			margin 0
			margin-bottom 1em
			nav
				width  137%
				border solid 1px
				padding 10px
				.nav-bar
					display none
			#menuInterno
				display block
				width 100%
				background-color bg
				border none
				font-size 18px
				color white
				font-family: 'Segoe UI Semilight', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
				
				overflow: hidden
				border none
				outline:0px;
	.metrouicss .page.secondary .page-header .page-header-content h1, .metrouicss .page.secondary .page-header .page-header-content h2, .metrouicss .page.secondary .page-header .page-header-content h3, .metrouicss .page.secondary .page-header .page-header-content h4, .metrouicss .page.secondary .page-header .page-header-content h5
			left 90px


		#redes,#share
			display none















